<section id="chat">
	<header class="chat-header">
		<h1 class="user-name">Olá {{ user.nick }}</h1>
	</header>
	<div class="messages">
		<div ng-repeat="message in messages" class="item-message">
			<div class="box-message">
				<span class="message-user">{{ message.user.nick }}</span>
				<p class="message-content">
					{{ message.value }}
				</p>
			</div>
	    </div>
	</div>

	<div class="send-message">
		<input ng-model="newmessage.value" ng-keypress="($event.which === 13) ? sendMessage() : 0" placeholder="Digite sua mensagem"></input>
		<button ng-click="sendMessage()">
			<i class="fa fa-location-arrow"></i>
		</button>
	</div>
</section>